@model ConnectToMongoDB.Models.SinhVien

@{
    ViewData["Title"] = "Xóa sinh viên";
}

<h1>Xóa thông tin sinh viên</h1>
<h3>Bạn có chắc muốn xóa sinh viên này?</h3>
<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Mã sinh viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSV)
        </dd>
        <dt class = "col-sm-2">
            Tên sinh viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSV)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a style="width:150px" class="btn btn-outline-danger" asp-action="Index">Quay lại</a>
    </form>
</div>
